@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Roboto&display=swap');

*{
    margin: 20px 20px;
}
body {
    background-color: rgb(209, 202, 202);
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    text-align: center;
}
h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    color: red;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

strong{
    margin-left: 0;
    margin-right: 0;
}
a{
    color: red;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
}


blockquote {
    margin-left: 30px;
}

table{
    border-collapse: collapse;
    margin: 20px;
    cursor: pointer;
}

tr th{
    background-color: rgb(31, 28, 29);
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background: none;
}

tr:nth-child(odd) {
    background: rgb(235, 228, 228);
}

tr:hover {
    background-color: rgb(83, 83, 83);
}

figure{
    border: 2px solid red;
    border-radius: 2%;
    width: 96%;
    background-color: rgb(83, 85, 87);
    color: white;
    text-align: center;
}

figcaption{
    text-align: center;
    font-weight: bold;
    color: white;
    font-style: italic;
}

img {
    max-width: 90%;
    padding: 2%;
}

.cadre{
    border: 2px dashed blue;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(160, 150, 150);
    color: blue;
    line-height: 2;
    font-size: 18px;
}

li,pre,h3 {
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
}
